<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <div class="form-add-new">
            <form action="/create-account" method="post">
                <fieldset>
                    <legend>create-account</legend>

                    <div class="input-group">
                        <label>Email</label>
                        <input type="text" name="email" />
                    </div>
                    <div class="input-group">
                        <label>Password</label>
                        <input type="password" name="password" />
                    </div>
                    <div>
                        <button>Save</button>
                    </div>
                </fieldset>
            </form>
            <label>List account</label>
            <div class="table-container"><%= JSON.stringify(listAccount) %></div>
            <div class="update-account">
                <form action="/update-account" method="post">
                    <fieldset>
                        <legend>update-account</legend>
                        <div class="input-group">
                            <label>id</label>
                            <input type="text" name="id" />
                        </div>
                        <div class="input-group">
                            <label>Email</label>
                            <input type="text" name="email" />
                        </div>
                        <div class="input-group">
                            <label>Password</label>
                            <input type="password" name="password" />
                        </div>
                        <div>
                            <button>Save</button>
                        </div>
                    </fieldset>
                </form>
                <form action="/delete-account" method="post">
                    <button>delete id 5</button>
                </form>
            </div>
        </div>
    </body>
</html>
